.Registration {
    position: absolute;
    width: 330px;
    height: 580px;
    left: calc(50% - 330px / 2);
    top: calc(50% - 580px / 2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.Registration__input {
    width: 100%;
}

.Registration__input:not(:last-child),
.Registration__btn:not(:last-child) {
    margin-bottom: 10px;
}

.Registration__input[type="file"] {
    display: none;
}

.Registration__img {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

.Registration__img img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.Registration__img label[for="file"] {
    position: absolute;
    width: 82px;
    height: 42px;
    left: calc(50% - 82px / 2);
    top: calc(50% - 42px / 2);
    color: aliceblue;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.Registration__img,
.Registration__img img {
    width: 150px;
    height: 150px;
}

.Registration__btn {
    width: 75%;
}