.WebCam {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.player {
    position: relative;
    width: 320px;
    left: calc(50% - 320px / 2);
    top: calc(50% - 320px / 2);
}

.player__shot {
    position: absolute;
    left: 0;
}

.player__close {
    position: absolute;
    right: 0;
}

.player__canvas {
    display: none;
}